* {
   padding: 0rem;
   margin: 0rem;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   font-family: "Roboto", sans-serif;
}

button {
   cursor: pointer;
}

$primary-blue: #6fc0da;
$primary-pink: #ff2c8f;
$primary-green: #2cff9c;
